---
layout: default
---
<div class="flex-container">
  {% include header.html %}
  <article class="article-page">
    <div class="page-image">
      <div class="cover-image" style="background: url({{"/assets/img/" | prepend: site.baseurl | append : page.img}}) center no-repeat; background-size: cover;"></div>
    </div>
    <div class="wrapper">
      <div class="page-content">
        <div class="header-page">
          <h1 class="page-title">{{page.title}}</h1>
          <div class="page-date"><time datetime="{{page.date}}">{{page.date | date: '%Y, %b %d'}}</time>
          <h3><b>{{page.artista}}</b></h3>
          <section class="about-body">
            <ul class="contact-list">

            {% if page.contacto_instagram %}
              <li class="instagram"><a href="https://instagram.com/{{page.contacto_instagram}}" target="_blank"><i class="fa fa-instagram"></i></a></li>
            {% else %}
              <li class="instagram"><a href="https://instagram.com/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            {% endif %}

            {% if page.contacto_facebook %}
              <li class="facebook"><a href="https://facebook.com/{{page.contacto_facebook}}" target="_blank"><i class="fa fa-facebook"></i></a></li>

            {% endif %}

            {% if page.contacto_mail %}
              <li> <a href="{{page.contacto_mail}}">Página Web</a>
            {% endif %}

            {% if page.contacto_web %}
              <li> <h4>{{page.contacto_web}}</h4>
            {% endif %}

            </ul>
          </section>
          </div>
        </div>
        {{page.content | markdownify}}
        <img src="/assets/img/{{page.img}}" alt="">

        {% if page.video_1 %}
        <iframe width="100%" height="450" src="https://www.youtube.com/embed/{{page.video_1}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {% endif %}

        <img src="/assets/img/{{page.img_2}}" alt="">
        <img src="/assets/img/{{page.img_3}}" alt="">
        <img src="/assets/img/{{page.img_4}}" alt="">
        <img src="/assets/img/{{page.img_5}}" alt="">


        <div class="page-footer">
          <div class="page-tag">
            <span>Categorías:</span>
            {% for tag in page.tags %}
            <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">| {{ tag }}</a>
            {% endfor %}
          </div><!-- End Tags -->
          <div class="page-share">
            <span>Compartir:</span>
            <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" title="Share on Twitter" rel="nofollow" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook" rel="nofollow" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          </div><!-- End Share -->
        </div>
        {% include recent-post.html %}
      </div>
    </div> <!-- End Wrapper -->
  </article>
  {% include search.html %}
  {% include footer.html %}
</div>
